#Exclude everything that is generated
output
exports
node_modules

#Exclude Eclipse project file
.project
#Exclude Jetbrains IDE project folder
.idea

#Exclude Configuration, except sample
build/*
!build/config.json.sample
!build/config.json.sitegenesis

#Exclude configured projects, except sample projects
!/build/
!/build/projects
/build/projects/*
!/build/projects/sample/
!/build/projects/sitegenesis/
